* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {

  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.text-centered {
  text-align: center;
}

.indexBackgroundImg{
  width: 100%;
  height: 100%;
  background-image: url('../img/bggift.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}
.wrap {
  position: relative;
  height: 100%;
  min-height: 1000px;
  padding-bottom: 20px;
  margin: 15px;

}
.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
  margin: 100px;

}
@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}
.card {
  float: left;
  width: 25%;
  height: 15%;
  padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 800px) {
  .card {
    width: 25%;
    height: 16.666%;
  }
}
.card .inside {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  background: white;
}
.card .inside.picked, .card .inside.matched {
  transform: rotateY(180deg);
}
.card .inside.matched {
  animation: 1s matchAnim ease-in-out;
  animation-delay: 0.4s;
}
.card .front, .card .back {
  border: 1px solid black;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.card .front img, .card .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}
.card .front {
  transform: rotateY(-180deg);
}
@media (max-width: 800px) {
  .card .front {
    padding: 5px;
  }
}
.card .back {
  transform: rotateX(0);
}
@media (max-width: 800px) {
  .card .back {
    padding: 10px;
  }
}
.modal-overlay {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  display: none;
  position: relative;
  width: 1000px;
  height: 500px;
  max-height: 90%;
  max-width: 90%;
  min-height: 380px;
  margin: 0 auto;
  background-image: url("../img/confetti.jpg");
  background-size: cover;

  /*background-color: white;*/
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
  border-radius: 5px;

}
.modal .winner {
  font-size: 40px;
  text-align: center;
  color: #4d4d4d;
}
@media (max-width: 480px) {
  .modal .winner {
    font-size: 60px;
  }
}
.modal .restart {
  margin: 30px auto;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: #ed1450;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 250px;
  text-align: center;
}
.modal .restart:hover {
  background: linear-gradient(#222, black);
}
.modal .message {
  text-align: center;
}
.modal .message a {
  text-decoration: none;
  color: #28afe6;
  font-weight: bold;
}
.modal .message a:hover {
  color: #56c0eb;
  border-bottom: 1px dotted #56c0eb;
}
.modal .share-text {
  text-align: center;
  margin: 10px auto;
}
.modal .social {
  margin: 20px auto;
  text-align: center;
}
.modal .social li {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.modal .social li:last-child {
  margin-right: 0;
}
.modal .social li a {
  display: block;
  line-height: 50px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.modal .social li a.facebook {
  background: #3b5998;
}
.modal .social li a.facebook:hover {
  background: #4c70ba;
}
.modal .social li a.google {
  background: #d34836;
}
.modal .social li a.google:hover {
  background: #dc6e60;
}
.modal .social li a.twitter {
  background: #4099ff;
}
.modal .social li a.twitter:hover {
  background: #73b4ff;
}

.btn {
  margin: 30px auto;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: #ed1450;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.btnQui {
  margin: 30px auto;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: grey;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 50%;
  text-align: center;
}


.rules {
  width: 1000px;
  color: black;
  margin: 30px 70px 20px 70px;
  padding: 50px;
  background-color: rgba(255,255,255,0.5);
}
.btnPageIndex {
  display: flex;
  margin: 20px;
  padding-top: 40px;
  justify-content: center;
}
.info-history {
  color: black;
  margin: 40px 20px 20px 20px;
  background-color: white;
  padding: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.info-carte {
  display: flex;
  border: 1px solid grey;
  padding: 0;
  width: 1000px;
  margin: 10px;
}

.text-carte {
  padding: 10px;
  color: grey;
}
img {
  margin: 0;
  padding: 0;
}

#timer {
  margin: 10px;
  color: white;
}
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
/*Pie timer*/
.timer-pie {
    background: -webkit-linear-gradient(left, #ed1450 50%, #eee 50%); /* Foreground color, Background colour */
    border-radius: 100%;
    height: 100px; /* Height and width */
    position: relative;
    width: 100px; /* Height and width */
    -webkit-animation: time 30s steps(20, start) ;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask 30s steps(10, start) infinite;
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #eee; /* Background colour */
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #eee; /* Background colour */
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: #ed1450; /* Foreground colour */
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: #ed1450; /* Foreground colour */
        -webkit-transform: rotate(-180deg);
    }
}​


footer {
  height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
footer .disclaimer {
  line-height: 20px;
  font-size: 12px;
  color: #727272;
  text-align: center;
}
@media (max-width: 767px) {
  footer .disclaimer {
    font-size: 8px;
  }
}


body #wrapperBtn {
  display: inline-block;
  padding: 10px 10px;
  overflow: hidden;
  background: #ed0036;
  box-shadow: 0px 0px 0px 5px #f1f0eb, 0px 0px 0px 10px #f13c46;
}
body #wrapperBtn.dark .button:before {
  z-index: 2;
  opacity: 1;
}
body #wrapperBtn.dark .button:after {
  opacity: 1;
}
body #wrapperBtn .button {
  font-family: 'Bungee Outline', cursive;
  font-size: 35px;
  color: #f1f0eb;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  z-index: 2;
}
body #wrapperBtn .button:after {
  content: '';
  position: absolute;
  width: calc(100% + 50px);
  height: calc(100% + 20px);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 0.5s;
  background: repeating-linear-gradient(45deg, #f1f0eb, #f1f0eb 10px, #f13c46 10px, #f13c46 11px);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: partyTime 40s linear infinite;
}
@keyframes partyTime {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
body #wrapperBtn .button:before {
  content: '1, 2, 3 ...';
  font-family: 'Bungee Shade', cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #f13c46;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  background: #f1f0eb;
}
body #wrapperBtn .blip {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
  z-index: 1;
  opacity: 1;
  background: #f1f0eb;
  animation: blip 2s ease-out forwards;
}
@keyframes blip {
  0% {
    opacity: 0;
  }
  2.5% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px #f1f0eb;
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 0px 300px #f1f0eb;
  }
  50% {
    opacity: 1;
    box-shadow: 0px 0px 0px 300px #f1f0eb;
    transform: translateX(0%) translateY(0%);
  }
  97.5% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px #f1f0eb;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
